@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.bg-pattern
{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    min-height: 100vh;
}

.container  
{
    position: absolute;
    width: 25%;
    /* min-width: 350px; */
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}   

.hero-img img
{
   width: 100%;
}

.container .content
{
    padding: 2.2em;
}

.content h1
{

    font-weight: 900;
    font-size: 1.6rem;
    color: hsl(223, 47%, 23%);
    
}

.content .description
{
    margin: 1.2em 0;  
    font-size: .9rem;
    color: hsl(224, 23%, 55%); 
}


.content .subscription
{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9em 1.2em;
    margin: 1.5em 0;
    border-radius: 10px;
}
.subscription .plan-details
{
    margin-right: 3.5em;
}

.plan-details>p:first-child
{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.subscription .change-btn
{
    /* align-self: center; */
    color: hsl(245, 75%, 52%);
    font-size: .9rem;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;
}
.subscription .change-btn:active
{
    color: hsl(245, 75%, 65%);
    text-decoration: none;
}

.content .payment-btn
{
    display: block;
    background-color: hsl(245, 75%, 52%);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: .8em 2em;
    font-weight: 700;
    font-size: .9rem;
    margin: 3em 0 0;
    transition: background-color 0.2s ease-in-out;
}
.content .payment-btn:active
{
  
    background-color: hsl(245, 75%, 65%);
}

.content .cancel-btn
{
    display: block;
    margin: 1.7em 0 0;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    text-decoration: none;
    font-size: .9rem;
}

.content .cancel-btn:active
{
    color: hsl(223, 47%, 23%);
}

.attribution    
{
    text-align: center;
    transform: translateY(-40px);
    font-size: 14px;
}
.attribution a
{
    color: hsl(245, 75%, 52%);
}

@media only screen and (max-width:450px)
{
  
   .bg-pattern
   {
    background-image: url(images/pattern-background-mobile.svg);
   }
}    

@media only screen and (max-width:1280px)
{
  
    .container
    {
        min-width: 350px;
    }
    
    .subscription .plan-details
    {
        margin-right: 2em;
    }
      
}
